html{
    font-size: 1.25rem;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--cor-fonte);
    background-color: var(--primario);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    background: linear-gradient(to right, rgb(93, 108, 240), rgb(185, 243, 253));
    border-radius: 10px;
    box-shadow: 4px 4px 4px var(--secundario);
}



section {
    margin-top: 50px;
}

.sobre{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 5%;
}

img{
    max-width: 300px;
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 4px 4px 20px rgb(148, 118, 255),
                -4px -4px 20px #2f00ff;
    transition: 0.5s;
}

img:hover{
    box-shadow: 4px 4px 20px #2f00ff,
                -4px -4px 20px rgb(148, 118, 255);
}



.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projeto {
    width: 80%;
    margin-bottom: 10px;
    background-color: var(--secundario);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.25s;
}

.projeto:hover {
    transform: translateY(-2px);
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
}

button{
    border: none;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
    background-color: #e6e6ff;
    color: var(--cor-fonte);
    box-shadow: -2px 2px 2px;
    width: 100px;
    padding: 5px 5px;
}


:root{
    --primario: rgb(182, 208, 255);
    --secundario: #a2a2ff;
    --cor-fonte: rgb(34, 34, 34);
    --degrade: linear-gradient(to right, rgb(93, 108, 240), rgb(185, 243, 253));
}

::-webkit-scrollbar-thumb{
    background-color: var(--secundario);
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #e6e6ff;
}

footer{
    margin-top: 50px;
    background-color: var(--secundario);
}

@media (max-width: 600px) {
    .sobre{
        gap: 0;
        flex-direction: column;
    }
}